@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
ul,
li {
  list-style: none;
}

a {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  color: white;
}

:root {
  --bg-clr: #050718;
  --main-clr: #FF2079;
  --font-clr: white;
}

body.theme {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  --bg-clr: white;
  --main-clr: #4223e0;
  --font-clr: rgb(5, 7, 24);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-color: var(--bg-clr);
  color: var(--font-clr);
  width: 100%;
  font-size: 1.5em;
  font-family: "Space Mono";
}

.navbar .logo,
.toggle_menu {
  margin: 0 8%;
}

.navbar {
  position: fixed;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.navbar a {
  color: var(--main-clr);
}

.navbar a:hover, .navbar a:focus {
  color: var(--font-clr);
}

.menu {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  position: absolute;
  top: -200px;
  width: 100%;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.menu a {
  color: var(--font-clr);
}

.menu a:hover, .menu a:focus {
  color: var(--main-clr);
}

.nb {
  color: var(--main-clr);
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

li {
  width: 100%;
  text-align: center;
}

.nav_close {
  display: none;
}

.toggle_menu {
  cursor: pointer;
}

.toggle_menu i:hover, .toggle_menu i:focus {
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  color: var(--main-clr);
}

.menu.show_nav {
  top: 80px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  z-index: 2;
  background-color: var(--font-clr);
}

.first {
  top: 0;
}

.second {
  top: 33.3%;
}

.third {
  top: 66.6%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.vl {
  border-left: 2px solid var(--font-clr);
  height: 600px;
}

.socials {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 5%;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.socials h1 {
  font-size: 1em;
}

.socials h2 {
  color: rgba(var(--font-clr), 0.8);
  margin: 8% 0;
}

.socials p {
  font-size: 0.6em;
  padding: 1%;
}

.socials span {
  color: var(--main-clr);
}

#more_about {
  border: 1px solid var(--main-clr);
  border-radius: 5px;
  font-size: 0.8em;
  margin: 5% 0;
  padding: 10px;
  color: var(--main-clr);
}

#more_about:hover, #more_about:focus {
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  background-color: var(--main-clr);
  color: var(--bg-clr);
}

.socials .email {
  z-index: 999;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  right: 2%;
}

.socials .email a {
  color: var(--font-clr);
  margin: 6px 0;
}

.socials .email a:hover, .socials .email a:focus {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  color: var(--main-clr);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.socials .email p {
  font-size: 0.8em;
  margin-bottom: 10px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
}

.socials .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 50%;
  left: 2%;
}

.socials .links a {
  color: var(--font-clr);
  margin: 6px 0;
}

.socials .links a:hover, .socials .links a:focus {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  color: var(--main-clr);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.about {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 5%;
  height: 100vh;
}

.about > div {
  margin: 2% 0;
}

.about h1 {
  font-size: 1em;
}

.about p {
  line-height: 35px;
  font-size: 0.7em;
  padding: 2%;
}

.tech {
  font-size: 0.7em;
}

.tech i {
  color: var(--main-clr);
  font-size: 0.8em;
}

.tech td {
  padding: 12px 0;
}

.pic {
  position: relative;
  -webkit-box-shadow: 5px 6px 0px 5px rgba(var(--main-clr), 0.2);
  box-shadow: 5px 6px 0px 5px rgba(var(--main-clr), 0.2);
}

.pic .responisve {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 1px;
}

.pic::after {
  content: "";
  position: absolute;
  background-color: rgba(var(--main-clr), 0.2);
  left: 0;
  width: 100%;
  height: 100%;
}

.pic:hover::after {
  -webkit-transition: background-color 0.6s ease-in-out;
  transition: background-color 0.6s ease-in-out;
  background-color: transparent;
}

.projects {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 5%;
  height: 100vh;
}

.projects > div {
  margin: 2% 0;
}

.projects h1 {
  font-size: 1em;
}

.contact {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 5%;
  height: 100vh;
}

.contact > div {
  margin: 2% 0;
}

.contact h1 {
  font-size: 1em;
}

.contact .touch {
  padding: 10%;
}

.contact .touch p {
  font-size: 0.6em;
  line-height: 30px;
  padding: 2%;
  margin-bottom: 4%;
}

.contact .touch a {
  bottom: 5px;
  border: 1px solid var(--main-clr);
  border-radius: 5px;
  font-size: 0.8em;
  padding: 10px;
  color: var(--main-clr);
}

.contact .touch a:hover {
  background-color: var(--main-clr);
  color: var(--bg-clr);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.4em;
  height: 80px;
  color: rgba(var(--main-clr), 0.5);
}

.toggle_light {
  cursor: pointer;
}

.toggle_light i {
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.toggle_light i:hover, .toggle_light i:focus {
  color: var(--main-clr);
}

@-webkit-keyframes blurry {
  0% {
    -webkit-filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}

@keyframes blurry {
  0% {
    -webkit-filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}

@media (min-width: 900px) {
  .about {
    position: relative;
  }
  .about .pic {
    position: absolute;
    bottom: 5%;
    right: 10%;
    max-width: 300px;
  }
  .socials p {
    font-size: 1em;
  }
  .socials h2 {
    color: rgba(var(--font-clr), 0.8);
    margin: 2% 0;
  }
  #more_about {
    margin-left: 1%;
  }
}
/*# sourceMappingURL=style.css.map */