.s3 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tech {
    width: 70%;
    position: relative;
    margin: 10px 0;
    font-size: 1em;
    li {
        padding: 10px 0;
        background-color: $main-clr;
        width: 100%;
        &:hover {
            background-color: $bg-clr;
            color: $main-clr;
        }
    }
    a {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 0.8em;
        margin-bottom: 10px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
}

//add media query for mobile
@media screen and (max-width: 768px) {
    .tech {
        width: 90%;
        li {
            padding: 10px 0;
            background-color: $main-clr;
            width: 100%;
            &:hover {
                background-color: $bg-clr;
                color: $main-clr;
            }
        }
        a {
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            font-size: 0.5em;
            margin-bottom: 10px;
            writing-mode: vertical-rl;
            text-orientation: mixed;
        }
    }
}