.section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.s1 {
    background-color: $main-clr;
    padding: 0 10%;
    h1 {
        padding: 10px;
        font-family: "Ostrich Sans", sans-serif;
        text-transform: uppercase;
        font-size: 4rem;
    }
}

.s2 {
    background-color: $bg4-clr;
}

.s3 {
    background-color: $bg2-clr;
    display: flex;
}

.s4 {
    background-color: $bg5-clr;
    h1 {
        color: $main-clr;
    }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: $main-clr;
}

#fp-nav ul li {
    margin: 15px 0 !important;
}

.fp-viewing-home #fp-nav ul li a span {
    background: $bg-clr;
}

.fp-viewing-about #fp-nav ul li a span {
    background: $bg-clr;
}

.fp-viewing-projects #fp-nav ul li a span {
    background: $bg-clr;
}

.fp-viewing-contact #fp-nav ul li a span {
    background: $bg-clr;
}

.fp-viewing-projects-2 #fp-nav ul li a span {
    background: $bg-clr;
}

.fp-viewing-projects-3 #fp-nav ul li a span {
    background: $bg-clr;
}

.fp-controlArrow.fp-prev {
    transition: all 0.1s ease;
    left: 100px;
    border: none;
    width: 20px;
    height: 20px;
    background: transparent;
    //turn div into a triangle
    cursor: pointer;
    &::before {
        content: "Previous Project";
    }
    &:hover {
        color: $pink-clr;
    }
}

.fp-controlArrow.fp-next {
    //add smooth transition
    transition: all 0.1s ease;
    right: 100px;
    border: none;
    width: 20px;
    height: 20px;
    background: transparent;
    cursor: pointer;
    &::before {
        content: "Next Project";
    }
    &:hover {
        color: $pink-clr;
    }
}

.fp-viewing-3 #fp-nav ul li a span {
    background: $bg-clr!important;
}

.fp-viewing-4 #fp-nav ul li a span {
    background: $bg-clr!important;
}

// add media query for mobile
@media screen and (max-width: 768px) {
    .s1 h1 {
        font-size: 3.6rem;
    }
    .s1 h1 span {
        font-size: 1.5rem;
    }
}