    .contact {
        height: 100vh;
        flex-direction: column;
        display: flex;
        border-radius: 10px;
        padding: 2%;
        color: $main-clr;
        background-color: $pink-clr;
    }
    
    .info-contact {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $main-clr;
        width: 100%;
    }
    
    .info-contact li {
        i {
            margin: 5px;
        }
        width: 100%;
        margin: 15px;
        color: $main-clr;
        background-color: $bg-clr;
    }
    
    .contact h1 {
        color: $main-clr;
        text-align: center;
    }
    
    .contact form {
        margin-top: 2%;
        padding: 2%;
        display: grid;
        gap: 1rem;
        background-color: $pink-clr;
    }
    
    .contact input {
        color: black;
        font-size: 20px;
        padding: 15px;
        color: $main-clr;
        border: 0;
    }
    
    .contact textarea {
        color: $main-clr;
        font-size: 20px;
        padding: 15px;
        border: 0;
    }
    
     ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $main-clr;
        opacity: 1;
        /* Firefox */
    }
    
     :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $main-clr;
    }
    
     ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $main-clr;
    }
    
    @media (min-width: $breakpoint-tablet) {
        .contact {
            flex-direction: row;
            position: relative;
            height: 800px;
            padding: 2%;
        }
        .info-contact {
            flex: 0.2;
            top: 10px;
        }
        form {
            flex: 1;
        }
    }