.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
}

.navbar_logo {
    font-size: $font_size;
    &:hover {
        color: $second-clr;
    }
}

.navbar_menu .links {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
        margin: 0 20px;
    }
    a {
        text-transform: uppercase;
        font-size: 18px;
        &:hover {
            color: $second-clr;
        }
    }
}

.nav_toggle {
    font-size: large;
    font-size: 30px;
    display: none;
}

.nav_fire {
    font-size: large;
    cursor: pointer;
    font-size: 30px;
    &:hover {
        color: $second-clr;
    }
}

.nav_close {
    font-size: large;
    font-size: 40px;
    position: absolute;
    display: none;
    right: 4rem;
}

//Media queries
@media (max-width: $breakpoint-tablet) {
    //open nav
    .nav_toggle {
        cursor: pointer;
        display: block;
    }
    //clsoe nav
    .close {
        cursor: pointer;
        display: block;
    }
    //mobile nav
    .navbar_menu {
        transition: 0.9s;
        position: fixed;
        width: 100%;
        top: -100%;
        .links {
            height: 100vh;
            width: 100%;
            background-color: $bg-clr;
            flex-direction: column;
            li {
                margin: 40px 0;
            }
            a {
                font-size: 30px;
                color: $pink-clr;
            }
        }
    }
    //show nav
    .show_nav {
        top: 0;
    }
}