.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $bg2-clr;
    flex-direction: column;
    border-radius: 10px;
}

.skills_list {
    width: 100%;
    display: flex;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    min-height: 500px;
}

.percentage {
    display: block;
    height: 20px;
    background-color: $second-clr;
}

.front_end_list {
    width: 80%;
}

.back_end_list {
    width: 80%;
}

.html {
    width: 90%;
}

.javascript {
    width: 60%;
}

.css {
    width: 80%;
}

.scss {
    width: 60%;
}

.node {
    width: 60%;
}

.python {
    width: 70%;
}

.php {
    width: 50%;
}

//Media queries
@media (max-width: $breakpoint-tablet) {
    .skills_list {
        flex-direction: column;
    }
    .item {
        width: 100%;
    }
}